@font-face {
    font-family: "iconfont"; /* Project id 4383736 */
    src: url('//at.alicdn.com/t/c/font_4383736_w2r35pc2ql.woff2?t=1704457168065') format('woff2'),
    url('//at.alicdn.com/t/c/font_4383736_w2r35pc2ql.woff?t=1704457168065') format('woff'),
    url('//at.alicdn.com/t/c/font_4383736_w2r35pc2ql.ttf?t=1704457168065') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-xinhao:before {
    content: "\e602";
}

.icon-guanyuwomen1:before {
    content: "\e682";
    color: #2c1f5f;
}

.icon-shijianzhou:before {
    content: "\e79c";
    color: #2c2c2c;
}
.icon-wangzhan:before {
    content: "\e628";
    color: #1aaa15;
}
.icon-icon:before {
    content: "\e66c";
    color: #7d0606;
}
.icon-boshi:before {
    content: "\e601";
    color: #13227a;
}

.icon-ss-copy:before {
    content: "\e61a";
    color: #1296db
}
.icon-dianying:before {
    content: "\e620";
    color: #d4237a;
}

.icon-dianshi:before {
    content: "\e649";
}

.icon-guanyuwomen:before {
    content: "\e62f";
    color: #8cbb19;
    font-size: 22px;
}

.icon-biaoqian:before {
    content: "\e604";
    color: #d81e06;
}

.icon-youxi:before {
    content: "\e60a";
}

.icon-yinle:before {
    content: "\e60d";
    color: #e0620d;
}

.icon-zhuye:before {
    content: "\e619";
    color: #1296db;
}

.icon-cangku:before {
    content: "\e62d";
}

.icon-shoucang:before {
    content: "\e607";
    color: #f6ef37;
    font-size: 16px;
}

.icon-guidang:before {
    content: "\e6fb";
    color: #e0620d;
}

.icon-fenlei:before {
    content: "\e608";
    color: #f6ef37;
}

.icon-icon-sousuo:before {
    content: "\e688";
    color: #1afa29;
}

.icon-tuku:before {
    content: "\e633";
    color: #84333f;
}

.icon-lianjie:before {
    content: "\e992";
    color: #d81e06;
}

.icon-texiao:before {
    content: "\e606";
    color:#6e79d6;
}
.icon-shuba:before {
    content: "\e624";
    color: #1afa29;
}
.icon-book:before {
    content: "\e6e8";
}

.icon-alibaba:before {
    content: "\e600";
}

.icon-gitee:before {
    content: "\e60c";
    font-size: 20px;
}
.icon-gitee-red:before {
    content: "\e60c";
    color:#f90303 ;
}
